

<body class="sub_page">



    <%- include("../partials/header.ejs") %>

        <!-- end header section -->
        </div>
       



        <section class="login-main-wrapper py-y">
            <div class="main-container">
                <div class="login-process">
                    <div class="login-main-container">
                        <div class="thankyou-wrapper">
                            <h1><img src="http://montco.happeningmag.com/wp-content/uploads/2014/11/thankyou.png" alt="thanks" /></h1>
                              <p>for contacting us, we will get in touch with you soon... </p>
                              <a href="/">Back to home</a>
                              <div class="clr"></div>
                          </div>
                          <div class="clr"></div>
                      </div>
                  </div>
                  <div class="clr"></div>
              </div>
          </section>
             

        <!-- end product detail section -->


        <%- include("../partials/footer.ejs") %>