

<body class="sub_page">



    <%- include("../partials/header.ejs") %>

        <!-- end header section -->
        </div>
       



        <section class="login-main-wrapper py-y">
            <div class="main-container">
                <div class="login-process">
                    <div class="login-main-container">
                        <div class="thankyou-wrapper">
                              <img src="/images/verify.png" alt="">
                              <p>Email sent on your email please verify your email . it will take some 1 to 5 mint </p>
                              <a href="/">Back to home</a>
                              <div class="clr"></div>
                          </div>
                          <div class="clr"></div>
                      </div>
                  </div>
                  <div class="clr"></div>
              </div>
          </section>
             

        <!-- end product detail section -->


        <%- include("../partials/footer.ejs") %>