      <footer class="main-footer">
        <div class="footer-left">
          <a href="#">Amazone 2 Amazone</a></a>
        </div>
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/assets/js/app.min.js"></script>

   <!-- JS Libraies -->
   <script src="/assets/bundles/datatables/datatables.min.js"></script>
   <script src="/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
   <script src="/assets/bundles/jquery-ui/jquery-ui.min.js"></script>
   <!-- Page Specific JS File -->
   <script src="/assets/js/page/datatables.js"></script>
   <!-- JS Libraies -->

  <script src="/assets/bundles/apexcharts/apexcharts.min.js"></script>
  <!-- Page Specific JS File -->
  <script src="/assets/js/page/index.js"></script>
  <!-- Template JS File -->
  <script src="/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/assets/js/custom.js"></script>
  <script>
  
   //User Verification
   $(document).on('change','#verified',function(){
    var value = 0;
    let user_id = $(this).attr("data-id");
      if ($(this).prop('checked')==true){ 
            value = 1;
    }
      $.ajax({  
           url:'/admin/user-status',  
           method:'post',  
           dataType:'json',  
           data:{'value':value,'user_id':user_id},  
           success:function(response){  
               if(response.msg=='success'){  
               alert('Verification Status Changed!');  
               }else{  
                   alert('some error occurred try again');  
               }  
           },  
           error:function(response){  
               alert('server error occured')  
           }  
       });  
   });
   //Product Verification
   $(document).on('change','#pverified',function(){
    var value = 0;
    let product_id = $(this).attr("data-id");
      if ($(this).prop('checked')==true){ 
            value = 1;
    }
      $.ajax({  
           url:'/admin/product-status',  
           method:'post',  
           dataType:'json',  
           data:{'value':value,'product_id':product_id},  
           success:function(response){  
               if(response.msg=='success'){  
               alert('Product Verification Status Changed!');  
               }else{  
                   alert('some error occurred try again');  
               }  
           },  
           error:function(response){  
               alert('server error occured')  
           }  
       });  
   });
</script>
</body>
<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>